.section-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.section-header {
  margin-left: 5%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-options {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 0 5%;
}

.extra-item-list {
  margin: 0;
  padding: 0;
}

.extra-section {
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.extra-item {
  list-style-type: none;
  margin-right: 10%;
}